.technician
  .concert-list
    display: flex
    align-items: center
    flex-direction: column
  .concert-list-item
    max-width: 70vw
    min-width: 70vw
    margin: 1em
    p
      display: flex
      align-items: center
      margin: .5em 0
      span
        margin-right: .5em
    >div
      padding: 2em
