@import organizer/_main
@import manager/_main
@import booking-manager/_main
@import booking-boss/_main

body
  margin: 0
  padding: 0
  font-family: sans-serif
  background-color: #dedede

ul
  list-style-type: none
  padding: 0
h2
  margin: 0
  font-size: 1.3em
.App
  text-align: center

.loading
  display: flex
  align-items: center
  min-height: 70vh
  justify-content: center

#login
  background-color: rgba(0,0,0,.5)
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center

.background-img
  min-width: 100vw
  min-height: 100vh
  max-height: 130vh
  position: fixed
  top: 0
  left: 0
  z-index: -1

.user-info
  display: flex
  justify-content: center
  align-items: center
  color: white
  img
    margin: 0 1em
