#organizer
  .staff-list, .scenes-list
    display: flex
    flex-direction: column


  .scenes-list
    max-width: 720px
    width: 95vw
    li
      margin: 1em

  @media (min-width: 768px)
    .staff-list
      flex-direction: row
