.booking-manager
  min-height: calc(100vh - 373px)
  p
    text-align: center
  .new-booking-fab
    bottom: 0
    margin: 3.5vh
    position: fixed
    right: 0
    z-index: 1000

.new-booking
  h4
    margin: 0
.new-booking-dropdowns
  max-width: 80%
  margin: 0 auto
  display: flex
  justify-content: center

.new-booking-field
  margin: 2em 0

.search
  max-width: 90vw
  margin: 0 auto

.search-result
  margin: 1em 0

@media (min-width: 768px)
  .search
    max-width: 50vw
