#booking-manager
  .new-booking-fab
    bottom: 0
    margin: 3.5vh
    position: fixed
    right: 0
    z-index: 1000

.new-booking
  h4
    margin: 0
.new-booking-dropdowns
  max-width: 80%
  margin: 0 auto
  display: flex
  justify-content: center

.new-booking-field
  margin: 2em 0
