.booking-manager
  min-height: calc(100vh - 373px)
  p
    text-align: center
  .new-booking-fab
    bottom: 0
    margin: 3.5vh
    position: fixed
    right: 0
    z-index: 1000

.previous-concerts
  flex-direction: column

.new-booking
  h4
    margin: 0
.new-booking-dropdowns
  margin: 0 auto
  display: flex
  justify-content: center

.new-booking-field
  margin: 2em 0

.search
  max-width: 90vw
  margin: 0 auto

.band-search-toolbar
  flex-direction: column
  padding: 1em 0 !important
  height: auto !important
  align-items: center

@media (min-width: 640px)
  .band-search-toolbar
    flex-direction: row
    padding: 1em 2em !important
    height: 56px !important
