.login-btn
  margin-top: 1em


#login
  background-color: rgba(0,0,0,.5)
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  text-align: center

.background-img
  min-width: 100vw
  min-height: 100vh
  max-height: 130vh
  position: fixed
  top: 0
  left: 0
  z-index: -1

.user-info
  display: flex
  justify-content: center
  align-items: center
  img
    margin: 0 1em

.error-text
  margin-top: 1em
  color: red
  font-size: .7em
  line-height: 1
  font-style: italic
