.manager
  .band-list-manager
    display: flex
    flex-wrap: wrap
    justify-content: center
  .band
    margin: 1em
    max-width: 480px
    width: 90vw

  .member-list
    display: flex
    flex-wrap: wrap
    line-height: 1.5
    font-size: 1em

  .technical-requirements
    display: flex
    flex-wrap: wrap
    margin-top: 1em
    li
      margin: 0 .6em .6em 0
  .add-technical-requirement
    margin-left: 1em

  @media (min-width: 768px)
    .band
      padding: 1em
      min-height: 420px
