body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #dedede
}

ul{
  padding: 0
}
h2 {
  margin: 0;
  font-size: 1.3em
}
.App {
  text-align: center;
}


.background-img {
  max-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.user-info img {
  margin: 0 1em
}

.event-body, .booking-list, .booking-footer {
  display: flex;
}


.booking-list {
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.booking-list li {
  margin: .5em;
}

.booking-list li >div {
  max-width: 200px;
  max-height: 200px
}


.booking-bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/bands/default.jpg);
  background-size: cover;
  filter: blur(2px)
}

.booking-text {
  color: white
}

.booking-footer {
  align-items: center;
  background: white
}

.green {
  color: green
}
.red {
  color: red
}
